@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  text-transform: capitalize;
  font-family: "Anton", sans-serif;
}

/* header page */
a {
  text-decoration: none;
  color: black;
}

header {
  background-color: rgb(80, 226, 57);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}
.logo-image {
  height: 2.4rem;
}

#gym-logo {
  font-size: 140%;
  margin-right: auto;
  margin-top: -10px;
  text-transform: uppercase;
}

/* nav bar page */
#nav-hero ul {
  margin-top: 10px;
}

#nav-hero ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 140%;
}
#nav-hero ul li a:hover {
  border-bottom: 2px solid red;
  transition: 150ms ease-in-out;
}
/* main page */
#images-outer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  position: relative;
}
.exercise-image1 {
  height: 500px;
  width: 40%;
  background-image: url(../images/women-exercising.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.exercise-image2 {
  height: 500px;
  width: 60%;
  background-image: url(../images/women-exercising2.jpg);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
.image-text {
  background-color: rgba(255, 192, 203, 0.26);
  position: absolute;
  top: 150px;
  right: 40%;
  width: 160px;
  line-height: 25px;
  font-size: 150%;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
}
/*Extra large screen-size 1080px */
@media screen and (max-width: 1080px) {
  .image-text {
    right: 38%;
    width: 140px;
    line-height: 23px;
    font-size: 130%;
  }
}
/* large screen-size 950px */
@media screen and (max-width: 950px) {
  .logo-image {
    height: 2.3rem;
  }
  #gym-logo {
    font-size: 130%;
    margin: -10px auto 0 -55px;
    padding-left: 20px;
  }

  /* nav bar page */

  #nav-hero ul {
    margin: 5px -20px -20px 0;
  }

  #nav-hero ul li {
    font-size: 125%;
  }

  /* main page */
  .exercise-image1 {
    height: 450px;
  }
  .exercise-image2 {
    height: 450px;
  }
  .image-text {
    position: absolute;
    top: 110px;
    right: 37%;
    padding: 13px;
  }
}

/* medim screen-size 768px*/
@media screen and (max-width: 768px) {
  header {
    padding: 60px;
  }
  .logo-image {
    height: 2rem;
  }

  #gym-logo {
    font-size: 120%;
    margin: 0 auto 0 -60px;
    padding-left: 10px;
  }

  /* nav bar page */
  #nav-hero ul {
    margin: 15px -45px 0 0;
  }

  #nav-hero ul li {
    margin: 0 5px;
    font-size: 115%;
  }
  /* main page */
  #images-outer {
    margin-top: 25px;
  }
  .exercise-image1 {
    height: 400px;
  }
  .exercise-image2 {
    height: 400px;
  }
  .image-text {
    position: absolute;
    top: 80px;
    right: 40%;
    width: 100px;
    line-height: 16px;
    font-size: 110%;
    padding: 12px;
  }
}

/* medim to small screen-size 650px*/
@media screen and (max-width: 650px) {
  body {
    overflow: hidden;
  }
  header {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  #gym-logo {
    font-size: 100%;
    margin-left: -20px;
    margin-bottom: 30px;
  }

  /* nav bar page */
  #nav-hero ul {
    margin-top: 10px;
    margin-right: auto;
    text-align: center;
  }

  #nav-hero ul li {
    margin: 0 10px;
    font-size: 140%;
  }

  /* main page */
  #images-outer {
    margin-top: 30px;
  }
  .exercise-image1 {
    height: 370px;
  }
  .exercise-image2 {
    height: 370px;
  }
  .image-text {
    position: absolute;
    top: 200px;
    right: 5%;
    width: 80px;
    line-height: 15px;
    font-size: 90%;
  }
}

/* small screen-size 500px*/

@media screen and (max-width: 500px) {
  header {
    padding: 20px;
  }
  .logo-image {
    height: 1.6rem;
  }
  #gym-logo {
    font-size: 80%;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 5px;
  }

  /* nav bar page */
  #nav-hero ul {
    margin-top: 10px;
  }

  #nav-hero ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 110%;
  }
  /* main page */
  .exercise-image1 {
    height: 350px;
  }
  .exercise-image2 {
    height: 350px;
  }
  .image-text {
    position: absolute;
    right: 5%;
    width: 70px;
    font-size: 80%;
    padding: 15px;
  }
}
