@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
  text-transform: capitalize;
font-family: 'Anton', sans-serif;
}

/* header page */
a {
  text-decoration: none;
  color: black;
}

header {
  background-color: rgb(80, 226, 57);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}
.logo-image {
  height: 2.4rem;
}

#gym-logo {
  font-size: 140%;
  margin-right: auto;
  margin-top: -10px;
  text-transform: uppercase;
}

/* nav bar page */
#nav-hero ul {
  margin-top: 10px;
}

#nav-hero ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 140%;
}
#nav-hero ul li a:hover {
  border-bottom: 2px solid red;
  transition: 150ms ease-in-out;
}
/* main page */
#images-outer{
    width: 100%;
    margin-top: 30px; 
    display: flex;
    position: relative;
}
.exercise-image1{
    height: 500px;
    width: 40%;
    background-image: url(../images/women-exercising.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}
.exercise-image2{
    height: 500px;
    width: 60%;
    background-image: url(../images/women-exercising\ \(2\).jpg);
    background-size: cover;
    background-position:top right;
    background-repeat: no-repeat;    
}
.image-text{
  background-color: rgba(255, 192, 203, 0.26);
  position: absolute;
  position: fixed;
  top: 300px;
  right: 600px;
  width: 13%;
  line-height: 30px;
  font-size: 160%;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}
/* large screen-size 950px */
@media screen and (max-width: 950px) {
  header {
    padding: 60px;
  }
  .logo-image {
    height: 2.3rem;
  }
  #gym-logo {
    font-size: 130%;
    margin: -30px auto 0 -55px;
    padding-left: 10px;
  }

  /* nav bar page */

  #nav-hero ul {
    margin: -10px 0 -20px 0;
  }

  #nav-hero ul li {
    font-size: 125%;
  }
  

}

/* medim screen-size */
@media screen and (max-width: 768px) {
  header {
    padding: 80px;
  }
  .logo-image {
    height: 2rem;
  }

  #gym-logo {
    font-size: 120%;
    margin: -30px auto 0 -60px;
    padding-left: 10px;
  }

  /* nav bar page */
  #nav-hero ul {
    margin: -10px -50px 0 0;
  }

  #nav-hero ul li {
    display: inline-block;
    margin: 0 5px;
    font-size: 115%;
  }
}


/* medim to small screen-size */
@media screen and (max-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }
  .logo-image {
    height: 2rem;
  }

  #gym-logo {
    font-size: 100%;
    margin-right: auto;
    margin-bottom: 30px;
  }

  /* nav bar page */
  #nav-hero ul {
    margin-top: 10px;
  }

  #nav-hero ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 140%;
  }
}

/* small screen-size */

@media screen and (max-width: 500px) {
  header {
    padding: 50px;
  }
  .logo-image {
    height: 1.6rem;
  }
  #gym-logo {
    font-size: 80%;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 20px;
  }

  /* nav bar page */
  #nav-hero ul {
    margin-top: 10px;
  }

  #nav-hero ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 110%;
  }
}
